<script src="https://liberapay.com/saluki/widgets/button.js"></script>
<noscript><a href="https://liberapay.com/saluki/donate"><img alt="Donate using Liberapay" src="https://liberapay.com/assets/widgets/donate.svg"></a></noscript>
