{{ $hasHeaders := gt (len (findRE "<h\\d.*?>(.|\n)*?</h\\d>" .Content)) 0 }}
{{ if (or (and (not $.Site.Data.config.enableToc) .Params.enableToc) (and $.Site.Data.config.enableToc (ne .Params.enableToc false) $hasHeaders)) }}
<aside class="mainTOC">
    <details {{ if $.Site.Data.config.openToc }}open {{ end }}>
        <summary>{{ i18n "toc" }}</summary>
        {{ .TableOfContents }}
    </details>
</aside>
<share-on-mastodon>
	share_title="Look at this page from SethMB.xyz"
        share_description="{{ .Page.Permalink }}"
	author="@saluki@fosstodon.org"
</share-on-mastodon>
{{end}}
